.button-icon-spacing {
    margin-left: 5px;
}

.games-wrapper{
    margin: 15px 0 15px 0;
    background-color: #a9dab8;

    .game-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 50px;

        .team{
            font-weight: bold;
            width: 25%;

            &.home{
                grid-row: 1;
                justify-self: left;
            }

            &.away{
                grid-row: 3;
                justify-self: right;
            }
        }

        .venue{
            width: 50%;
            grid-row: 4;
        }
        
    }
}
