.root{
  display: flex;
  align-items: center;
  position: relative;
  background-color: #4443;
  padding: 5px;

  .btnSpacing{
    margin-right: 10px;
  }

  .right{
    position: absolute;
    right: 15px;
  }
}